@media(max-width: 450px){ 

    header{
        height: 100px;
    }

    .logo{
        width: 80%;
    } 

    .menu{
        padding-top: 1px;
        width: 10%;
    }

    .menu a{
        margin-right: 5px;
        font-size: 12px;
    }

    .extras{
        width: 400px;
        height: 450px;
       margin-bottom: -51px;
    }

    .midia{
        margin-top: -240px;
    }

    .texto h1{
        font-size: 25px;
    }
}

@media(orientation: landscape){

    header{
        height: 111px;
    }

    .extras{
        width: 311px;
        height: 310px;
    }

    .midia{
        margin-top: -250px;
        margin-left: -110px;
    }

    .texto h1{
        margin-top: -61px;
        font-size: 25px;
    }
}