@media(max-width: 450px){

    header{
        height: 100px;
    }

    .logo{
        width: 80%;
    }

    .menu{
        padding-top: 1px;
        width: 10%;
    }

    .menu a{
        margin-right: 5px;
        font-size: 10px;
    }

    .extras{
        width: 400px;
        height: 450px;
    }

    .midia{
        margin-top: -240px;
    }
}